beautifulsoup4
faker
flask
flask-caching
flask-compress
flask-cors
flask-limiter
flask-talisman
flask-wtf
googletrans==4.0.0-rc1
gunicorn
httpx
instaloader
langdetect
lxml
orjson
psycopg2-binary
python-dotenv
redis
soundcloud-lib
user-agents
werkzeug
yt-dlp
selectolax
validators
xxhash