flask
flask-limiter
flask-caching
flask-talisman
flask-wtf
flask-compress
flask-cors
werkzeug
redis
gunicorn
psycopg2-binary
python-dotenv
pyyaml
user-agents
langdetect
langcodes
googletrans==4.0.0-rc1
httpx
fake-useragent
googlesearch-python
yt-dlp