beautifulsoup4
fake-useragent
flask
flask-caching
flask-compress
flask-cors
flask-limiter
flask-talisman
flask-wtf
googlesearch-python
googletrans==4.0.0-rc1
gunicorn
httpx
instaloader
langdetect
orjson
psycopg2-binary
python-dotenv
pyyaml
redis
user-agents
werkzeug
youtube-search-python
yt-dlp